#!/bin/bash
export ZSH=/home/franz/.oh-my-zsh
export ZSH_CUSTOM=$ZSH/custom
export force_color_prompt=yes

ZSH_THEME="spaceship"
plugins=(
  git
  zsh-autosuggestions
  colored-man-pages
  alias-tips
  zsh-syntax-highlighting
  history-substring-search
  kubectl
  gcloud
)

source $ZSH/oh-my-zsh.sh
source $HOME/.profile

bindkey '^P' history-substring-search-up
bindkey '^N' history-substring-search-down
